* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	background-color: #fbfaf6;
}

@font-face {
	font-family: "PP Neue Montreal";

	src: url("/fonts/PPNeueMontreal-Medium.otf") format("opentype");

	font-weight: medium;

	font-style: normal;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 64px;
	max-width: 1600px;
	margin: 20px auto;
	background-color: #fbfaf6;
}

.nav-container {
	margin: 0 5%;
	position: relative;
	z-index: 1;
}

.navbar .right-links a {
	position: relative;
	text-decoration: none;
	color: #000;
}

/* links animation underline */
.navbar .right-links a::after {
	content: "";
	position: absolute;
	width: 0;
	height: 2px;
	display: block;
	margin-top: 5px;
	right: 0;
	background: #1eb6e6;
	transition: width 0.3s ease, right 0.3s ease;
}

.navbar .right-links a:hover::after {
	width: 100%;
	right: 0;
}

.company-name img {
	display: block;
	width: 150px;
	height: auto;
}

.right-links {
	color: #000;
	font-family: "PP Neue Montreal";
	font-size: 1.1rem;
	font-style: normal;
	font-weight: medium;
	line-height: 107.292%;
	text-decoration: none;
	display: flex;
	gap: 25px;
}

.topnavmobile {
	display: none;
}

.topnavmobile #myLinks {
	display: none;
}

.footer {
	display: flex;
	flex-direction: column;
	background-color: #111;
	max-width: 1440px;
	margin: auto;
	padding-top: 30px;
}

.footer a {
	text-decoration: none;
}

.footer p {
	color: #ffffff;
	font-family: "Work Sans";
	font-size: 0.8rem;
	font-style: normal;
	font-weight: 400;
	line-height: 2;
}

.footer h4 {
	color: #ffffff;
	font-family: "Work Sans";
	font-size: 1rem;
	font-style: normal;
	font-weight: 600;
	line-height: 2;
}

.footer-rækker {
	display: flex;
	justify-content: space-around;
	margin-bottom: 3%;
	font-size: 10px;
	width: 1200px;
	margin: auto;
}

.copyrights {
	color: #fff;
	font-family: "Work Sans";
	font-size: 0.625rem;
	font-style: normal;
	font-weight: 400;
	line-height: 127%; /* 0.79375rem */
	letter-spacing: -0.0125rem;
	padding-bottom: 20%;
	padding-top: 20%;
}

.footer-bg {
	background-color: #111;
	max-width: 100%;
	margin: auto;
}

.mobile-only-arrow {
	display: none;
}

/* Mobile Header & Footer */
@media only screen and (max-width: 1200px) {
	.navbar {
		display: none;
	}

	.topnavmobile {
		display: block;
		overflow: visible;
		background-color: #fbfaf6;
		position: sticky;
		z-index: 1000;
		max-width: 100%;
	}

	.topnavmobile a {
		color: #101010;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 0.9rem;
		display: block;
		font-family: "Work Sans";
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	.hamburger .bar {
		display: block;
		width: 100%;
		height: 3px;
		margin: 5px auto;
		background-color: #101010;
		transition: all 0.3s ease-in-out;
	}

	.hamburger {
		display: block;
		cursor: pointer;
		width: 25px;
		height: 25px;
		position: relative;
	}

	#myLinks {
		display: none;
		background-color: #fbfaf6;
		position: absolute;
		width: 100%;
		top: 100%;
		left: 0;
		z-index: 999;
	}

	.topnavmobile #myLinks a {
		display: block;
		width: 100%;
	}

	.topnavmobile.responsive #myLinks {
		display: block;
	}

	#myLinks a {
		display: block;
		padding: 14px 16px;
		color: #101010;
		text-decoration: none;
		font-size: 1.1rem;
		font-family: "PP Neue Montreal";
		font-style: medium;
		font-weight: 500;
		line-height: normal;
		z-index: 1002;
	}

	.topnavmobile a.icon {
		background: rgba(0, 0, 0, 0);
		display: block;
		position: absolute;
		right: 20px;
		top: 1px;
		align-items: center;
		z-index: 1001;
	}
	/*Hamburger menu animation */
	.hamburger.open .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.open .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.open .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}

	a.active {
		width: 130px;
	}

	.topnavmobile .active img {
		display: block;
		width: 130px;
		height: auto;
		padding-left: 10px;
		max-width: 130;
	}

	.footer {
		display: flex;
		flex-direction: column;
		background-color: #111;
		max-width: 100%;
	}

	.footer p {
		display: none;
		color: #ffffff;
		font-family: "Work Sans";
		font-size: 0.8rem;
		font-style: normal;
		font-weight: 400;
		line-height: 2;
		max-width: 100%;
	}

	.footer h4 {
		color: #ffffff;
		font-family: "Work Sans";
		font-size: 1rem;
		font-style: normal;
		font-weight: 600;
		line-height: 2;
		padding-bottom: 0.2%;
		max-width: 100%;
	}

	.socials-footer {
		justify-content: center;
		gap: 10px;
		margin-bottom: 20px;
	}

	.footer-rækker {
		margin-top: 1%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		margin-bottom: 3%;
		gap: 5px;
		font-size: 10px;
		padding: 0% 3%;
		width: 100%;
		max-width: 100%;
	}

	.copyrights {
		max-width: 100%;
		display: none;
	}

	.footer-bg {
		background-color: #111;
		max-width: 100%;
		margin: auto;
	}

	.mobile-only-arrow {
		display: block;
	}
}
