* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	background-color: #fbfaf6;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 64px;
	max-width: 1600px;
	margin: 20px auto;
	background-color: #fbfaf6;
}

.nav-container {
	margin: 0 5%;
	position: relative;
	z-index: 1;
}

.navbar .right-links a {
	position: relative;
	text-decoration: none;
	color: #000;
}

/* links animation underline */
.navbar .right-links a::after {
	content: "";
	position: absolute;
	width: 0;
	height: 2px;
	display: block;
	margin-top: 5px;
	right: 0;
	background: #1eb6e6;
	transition: width 0.3s ease, right 0.3s ease;
}

.navbar .right-links a:hover::after {
	width: 100%;
	right: 0;
}

.company-name img {
	display: block;
	width: 20%;
	height: auto;
}

.right-links {
	color: #000;
	font-family: "Work Sans";
	font-size: 1.1rem;
	font-style: normal;
	font-weight: 500;
	line-height: 107.292%;
	letter-spacing: -0.02rem;
	text-decoration: none;
	display: flex;
	gap: 25px;
}

.topnavmobile {
	display: none;
}

.topnavmobile #myLinks {
	display: none;
}

.footer {
	display: flex;
	flex-direction: column;
	background-color: #111;
	max-width: 1440px;
	margin: auto;
	padding-top: 30px;
}

.footer p {
	color: #ffffff;
	font-family: "Work Sans";
	font-size: 0.8rem;
	font-style: normal;
	font-weight: 400;
	line-height: 2;
}

.footer h4 {
	color: #ffffff;
	font-family: "Work Sans";
	font-size: 1rem;
	font-style: normal;
	font-weight: 600;
	line-height: 2;
}

.footer-rækker {
	display: flex;
	justify-content: space-around;
	margin-bottom: 3%;
	font-size: 10px;
	width: 1200px;
	margin: auto;
}

.copyrights {
	color: #fff;
	font-family: "Open Sans";
	font-size: 0.625rem;
	font-style: normal;
	font-weight: 400;
	line-height: 127%; /* 0.79375rem */
	letter-spacing: -0.0125rem;
	padding-bottom: 20%;
	padding-top: 20%;
}

.footer-bg {
	background-color: #111;
	max-width: 100%;
	margin: auto;
}

.mobile-only-arrow {
	display: none;
}

/* Mobile Header & Footer */
@media only screen and (max-width: 1200px) {
	.navbar {
		display: none;
	}
	
	li {
		list-style: none;
	}
	
	a {
		text-decoration: none;
	}

	.header-mobile {
		border-bottom: 1px solid #E2E8F0;
	}
	
	.navbar-mobile {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 1.5rem;
	}

	
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

	.bar {
		display: block;
		width: 25px;
		height: 3px;
		margin: 5px auto;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		background-color: #101010;
	}
	.nav-menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	.nav-item {
		margin-left: 5rem;
	}
	
	.nav-link{
		font-size: 1.6rem;
		font-weight: 400;
		color: #475569;
	}
	
	.nav-link:hover{
		color: #482ff7;
	}
	
	.nav-logo img {
		width: 30%;
	}

	.nav-menu {
        position: fixed;
    
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
				

	.footer {
		display: flex;
		flex-direction: column;
		background-color: #111;
		max-width: 100%;
	}

	.footer p {
		display: none;
		color: #ffffff;
		font-family: "Work Sans";
		font-size: 0.8rem;
		font-style: normal;
		font-weight: 400;
		line-height: 2;
		max-width: 100%;
	}

	.footer h4 {
		color: #ffffff;
		font-family: "Work Sans";
		font-size: 1rem;
		font-style: normal;
		font-weight: 600;
		line-height: 2;
		padding-bottom: 0.2%;
		max-width: 100%;
	}

	.socials-footer {
		justify-content: center; /* Center social icons */
		gap: 10px; /* Add gap between icons */
		margin-bottom: 5%;
	}

	.footer-rækker {
		margin-top: 1%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		margin-bottom: 3%;
		gap: 5px;
		font-size: 10px;
		padding: 0% 3%;
		width: 100%;
		max-width: 100%;
	}

	.copyrights {
		max-width: 100%;
		display: none;
	}

	.footer-bg {
		background-color: #111;
		max-width: 100%;
		margin: auto;
	}

	.mobile-only-arrow {
		display: block;
	}
}
