/* Desktop style */
@media only screen and (min-width: 1200px) {
	.product-info-picture {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		padding: 5% 3%;
		max-width: 1440px;
		margin: auto;
		margin-left: 50px;
	}

	.product-picture {
		display: block;
		width: 30%;
		height: auto;
	}

	.product-info-column {
		margin-top: 10px;
	}

	.product-info-column p {
		color: #101010;
		font-family: "DM Sans";
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 140%; /* 22.4px */
		letter-spacing: -0.32px;
		width: 450px;
		padding-bottom: 5%;
	}

	.product-info-column h3 {
		color: #101010;
		font-family: "Inter";
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: 123%; /* 24.6px */
		letter-spacing: -0.4px;
		padding: 2% 0px;
		margin-top: 2%;
	}
	.product-info-column h1 {
		color: #101010;
		font-family: "Inter";
		font-size: 40px;
		font-style: normal;
		font-weight: 600;
		line-height: 123%; /* 49.2px */
		letter-spacing: -0.8px;
		padding-bottom: 2%;
	}
	.product-info-column h4 {
		color: #101010;
		font-family: "Inter";
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 140%; /* 22.4px */
		padding-top: 5%;
		padding-bottom: 2%;
		margin-top: 15%;
	}

	.text-button-products {
		display: flex;
		justify-content: space-between;
		padding: 2% 10%;
		max-width: 1600px;
		margin: auto;
	}

	.text-button-products h2 {
		color: #101010;
		font-family: "Inter";
		font-size: 2.5rem;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: -0.06rem;
	}

	.text-button-products img {
		display: block;
		width: 4.9375rem;
		height: 2.375rem;
	}

	.product-column {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 5%;
	}

	.product-column img {
		width: 100%;
		height: auto;
		display: block;
		transition: transform 0.3s;
	}

	.product-column img:hover {
		transform: scale(1.05);
	}

	.product-column h3 {
		margin-top: -2%;
		margin-bottom: 4%;
		color: #101010;
		font-family: "Space Grotesk";
		font-size: 1.5rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: -0.075rem;
	}

	.product-column a {
		padding: 0.375rem 1rem;
		border: 1px solid #101010;
		color: #101010;
		font-family: "DM Sans";
		font-size: 1rem;
		font-style: normal;
		font-weight: 500;
		line-height: 133%; /* 1.33rem */
		letter-spacing: -0.02rem;
		text-decoration: none;
		border-color: #101010;
		position: relative;
		z-index: 0;
	}

	.product-column a:hover:before {
		border-color: #101010;
	}

	.product-column a:before {
		content: "";
		position: absolute;
		top: -2px;
		right: -2px;
		bottom: -2px;
		left: -2px;
		border: 2px solid transparent;
		z-index: -1;
		transition: border-color 0.3s ease;
	}

	.product-row {
		max-width: 1600px;
		display: flex;
		justify-content: space-between;
		padding: 0% 10%;
		margin: auto;
	}
}

/* Tablet styles */
@media only screen and (min-width: 600px) and (max-width: 1199px) {
	.product-info-picture {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin-top: 3%;
		padding-left: 50px;
	}

	.product-picture {
		display: block;
		width: 330px;
		height: auto;
	}

	.product-info-column {
		margin-top: 10px;
		padding-left: 50px;
	}

	.product-info-column p {
		color: #101010;
		font-family: "DM Sans";
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 140%; /* 22.4px */
		letter-spacing: -0.32px;
		width: 300px;
		padding-bottom: 5%;
		padding-right: 10%;
	}

	.product-info-column h3 {
		color: #101010;
		font-family: "Inter";
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: 123%; /* 24.6px */
		letter-spacing: -0.4px;
		padding: 2% 0px;
		margin-top: 2%;
		max-width: 300px;
	}
	.product-info-column h1 {
		color: #101010;
		font-family: "Inter";
		font-size: 40px;
		font-style: normal;
		font-weight: 600;
		line-height: 123%; /* 49.2px */
		letter-spacing: -0.8px;
		padding-bottom: 2%;
		max-width: 300px;
	}
	.product-info-column h4 {
		color: #101010;
		font-family: "Inter";
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 140%; /* 22.4px */
		padding-top: 5%;
		padding-bottom: 2%;
		margin-top: 5%;
		max-width: 300px;
	}

	.text-button-products {
		display: flex;
		justify-content: center;
		padding: 50px 10%;
		max-width: 1600px;
		margin: auto;
		align-items: center;
	}

	.text-button-products h2 {
		color: #101010;
		font-family: "Inter";
		font-size: 2.5rem;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: -0.06rem;
	}

	.text-button-products img {
		display: block;
		width: 4.9375rem;
		height: 2.375rem;
	}

	.product-column {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 5%;
	}

	.product-info-table {
		display: block;
		width: 80%;
		height: auto;
	}

	.text-button-products h2 {
		padding: 4% 3%;
		color: #101010;
		text-align: center;
		font-family: "Inter";
		font-size: 36px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: -0.48px;
	}

	.text-button-products img {
		display: none;
		width: 4.9375rem;
		height: 2.375rem;
	}

	.product-column {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.product-column img {
		display: block;
		width: 100%;
		height: auto;
		max-width: 400px;
	}

	.product-column h3 {
		margin-bottom: 4%;
		color: #101010;
		font-family: "Space Grotesk";
		font-size: 1.5rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: -0.075rem;
	}

	.product-column a {
		padding: 0.375rem 1rem;
		border: 1px solid #101010;
		color: #101010;
		font-family: "DM Sans";
		font-size: 1rem;
		font-style: normal;
		font-weight: 500;
		line-height: 133%; /* 1.33rem */
		letter-spacing: -0.02rem;
		text-decoration: none;
		margin-bottom: 3%;
	}

	.product-row {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		width: 75%;
		margin: auto;
	}

	.product-column a {
		padding: 0.375rem 1rem;
		border: 1px solid #101010;
		color: #101010;
		font-family: "DM Sans";
		font-size: 1rem;
		font-style: normal;
		font-weight: 500;
		line-height: 133%; /* 1.33rem */
		letter-spacing: -0.02rem;
		text-decoration: none;
		border-color: #101010;
		position: relative;
		z-index: 0;
	}

	.product-column a:hover:before {
		border-color: #101010;
	}

	.product-column a:before {
		content: "";
		position: absolute;
		top: -2px;
		right: -2px;
		bottom: -2px;
		left: -2px;
		border: 2px solid transparent;
		z-index: -1;
		transition: border-color 0.3s ease;
	}
}

/* Mobile styles */
@media only screen and (max-width: 599px) {
	.product-info-picture {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 10px;
		margin-top: 50px;
		max-width: 100%;
	}

	.product-picture {
		display: block;
		width: 60%;
		height: auto;
		align-items: center;
		margin: auto;
	}

	.product-info-column p {
		color: #101010;
		font-family: "DM Sans";
		text-align: center;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 140%; /* 22.4px */
		letter-spacing: -0.32px;
		max-width: 80%;
		padding-bottom: 5%;
		margin: auto;
	}

	.product-info-column img {
		margin: auto;
		display: block;
		max-width: 100%;
	}

	.product-info-column h3 {
		color: #101010;
		font-family: "Inter";
		text-align: center;
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: 123%; /* 24.6px */
		letter-spacing: -0.4px;
		margin-top: 2%;
		width: 100%;
		max-width: 100%;
	}

	.product-info-column h1 {
		color: #101010;
		font-family: "Inter";
		font-size: 40px;
		font-style: normal;
		text-align: center;
		font-weight: 600;
		line-height: 123%; /* 49.2px */
		letter-spacing: -0.8px;
		padding-bottom: 3%;
		max-width: 100%;
	}
	.product-info-column h4 {
		color: #101010;
		font-family: "Inter";
		font-size: 16px;
		font-style: normal;
		text-align: center;
		font-weight: 500;
		line-height: 140%; /* 22.4px */
		padding-top: 5%;
		padding-bottom: 2%;
		margin-top: 5%;
	}

	.text-button-products {
		display: flex;
		justify-content: center;
		max-width: 1600px;
		margin: auto;
		align-items: center;
	}

	.text-button-products h2 {
		color: #101010;
		font-family: "Inter";
		font-size: 2.5rem;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: -0.06rem;
	}

	.text-button-products img {
		display: none;
		width: 4.9375rem;
		height: 2.375rem;
	}

	.product-column {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-bottom: 5%;
		max-width: 100%;
	}

	.product-info-table {
		display: block;
		width: 80%;
		height: auto;
		align-items: center;
		margin: auto;
		margin-top: 10%;
	}

	.text-button-products h2 {
		padding: 50px 0px;
		color: #101010;
		text-align: center;
		font-family: "Inter";
		font-size: 36px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: -0.48px;
		padding-top: 10%;
		margin: auto;
	}

	.text-button-products img {
		display: none;
		width: 4.9375rem;
		height: 2.375rem;
	}

	.product-column {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.product-column img {
		display: block;
		width: 80%;
		height: auto;
		max-width: 400px;
		margin: auto;
	}

	.product-column h3 {
		margin-bottom: 4%;
		color: #101010;
		font-family: "Space Grotesk";
		font-size: 1.5rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: -0.075rem;
	}

	.product-column a {
		padding: 0.375rem 1rem;
		border: 1px solid #101010;
		color: #101010;
		font-family: "DM Sans";
		font-size: 1rem;
		font-style: normal;
		font-weight: 500;
		line-height: 133%; /* 1.33rem */
		letter-spacing: -0.02rem;
		text-decoration: none;
		margin-bottom: 50px;
	}

	.product-row {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;
		margin: auto;
		padding: 0;
	}

	.product-column a {
		padding: 0.375rem 1rem;
		border: 1px solid #101010;
		color: #101010;
		font-family: "DM Sans";
		font-size: 1rem;
		font-style: normal;
		font-weight: 500;
		line-height: 133%; /* 1.33rem */
		letter-spacing: -0.02rem;
		text-decoration: none;
		border-color: #101010;
		position: relative;
		z-index: 0;
	}

	.product-column a:hover:before {
		border-color: #101010;
	}

	.product-column a:before {
		content: "";
		position: absolute;
		top: -2px;
		right: -2px;
		bottom: -2px;
		left: -2px;
		border: 2px solid transparent;
		z-index: -1;
		transition: border-color 0.3s ease;
	}
}
