@media only screen and (min-width: 1200px) {
	.hero {
		background-image: url("/images/vision-hero.png");
		background-size: cover;
		background-position: center;
		height: 75vh;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	.hero-content {
		text-align: center;
		max-width: 900px;
		margin: 0 auto;
	}

	.hero h1 {
		color: #fff;
		text-align: center;
		font-family: "Inter";
		font-size: 5rem;
		font-style: normal;
		font-weight: 800;
		line-height: 110%; /* 5.5rem */
		letter-spacing: -0.1rem;
		padding-bottom: 5%;
	}

	.text-container {
		margin-top: 100px;
		padding-right: 5%;
	}

	.text-container h2 {
		color: #101010;
		font-family: "Inter";
		font-size: 3rem;
		font-style: normal;
		font-weight: 600;
		line-height: 108.425%; /* 3.25275rem */
		letter-spacing: -0.06rem;
		margin-bottom: 10%;
		width: 22.3125rem;
	}

	.text-container p {
		color: #101010;
		font-family: "DM Sans";
		font-size: 1.25rem;
		font-style: normal;
		font-weight: 400;
		line-height: 135%; /* 1.6875rem */
		letter-spacing: 0.0125rem;
		width: 19rem;
	}

	.image-text-container-vision img {
		width: 41.75rem;
		height: 45.6875rem;
	}

	.image-text-container-vision {
		margin-top: 70vh;
		display: flex;
		justify-content: space-evenly;
		width: 100%;
		padding: 8% 5%;
		max-width: 1600px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}

	/* Fade in effekt */
	.image-text-container-vision {
		opacity: 0;
		transition: opacity 1s ease-in-out;
	}

	.image-text-container-vision.visible {
		opacity: 1;
	}
	/* Fade in effekt slut */

	.vision-hangover {
		position: relative;
		background: url(/images/vision-hangover.png);
		background-position: center;
		background-size: cover;
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		padding-bottom: 2rem; /* Add some bottom padding if needed */
	}

	.text-overlay-hangover-container {
		align-items: center;
	}

	.vision-hangover h1 {
		color: #fff;
		text-align: center;
		font-family: "Inter";
		font-size: 4rem;
		font-style: normal;
		font-weight: 800;
		line-height: 135%; /* 5.4rem */
		letter-spacing: -0.08rem;
		text-transform: uppercase;
		width: 750px;
		padding-bottom: 50px;
	}

	.vision-hangover p {
		color: #fff;
		text-align: center;
		font-family: "DM Sans";
		align-items: center;
		font-size: 1.5rem;
		font-style: normal;
		font-weight: 400;
		line-height: 140%; /* 2.1rem */
		letter-spacing: -0.03rem;
		width: 48.6875rem;
	}

	.vision-message h1 {
		color: #fff;
		text-align: center;
		font-family: "Inter";
		font-size: 2.5rem;
		font-style: normal;
		font-weight: 600;
		line-height: 135%; /* 2.7rem */
		letter-spacing: -0.04rem;
		width: 32rem;
		margin: auto;
		padding: 8% 0px;
	}

	.vision-message {
		align-items: center;
		background-color: #111;
		padding-bottom: 5%;
	}

	.vision-hangover-mobile {
		display: none;
	}
}

@media only screen and (min-width: 600px) and (max-width: 1199px) {
	.hero {
		background-image: url("/images/vision-hero.png");
		background-size: cover;
		background-position: center;
		height: 75vh;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	.hero-content {
		text-align: center;
		max-width: 900px;
		margin: 0 auto;
	}

	.hero h1 {
		color: #fff;
		text-align: center;
		font-family: "Inter";
		font-size: 5rem;
		font-style: normal;
		font-weight: 800;
		line-height: 110%; /* 5.5rem */
		letter-spacing: -0.1rem;
		padding-bottom: 5%;
	}

	.text-container {
		margin-top: 70vh;
	}

	.text-container h2 {
		color: #101010;
		font-family: "Inter";
		text-align: center;
		font-size: 3rem;
		font-style: normal;
		font-weight: 600;
		line-height: 108.425%; /* 3.25275rem */
		letter-spacing: -0.06rem;
		width: 22.3125rem;
		margin: auto;
	}

	.text-container p {
		color: #101010;
		font-family: "DM Sans";
		text-align: center;
		font-size: 1.25rem;
		font-style: normal;
		font-weight: 400;
		line-height: 135%; /* 1.6875rem */
		letter-spacing: 0.0125rem;
		width: 25rem;
		margin-top: 10%;
		margin-bottom: 10%;
	}

	.image-text-container-vision img {
		width: 35rem;
		height: 40rem;
		margin-bottom: 5%;
	}

	.image-text-container-vision {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		max-width: 1600px;
		margin: auto;
		margin-top: 3%;
		margin-bottom: 1%;
	}

	/* Fade in effekt */
	.image-text-container-vision {
		opacity: 0;
		transition: opacity 1s ease-in-out;
	}

	.image-text-container-vision.visible {
		opacity: 1;
	}
	/* Fade in effekt slut */

	.vision-hangover {
		position: relative;
		background: url(/images/vision-hangover.png);
		background-position: center;
		background-size: cover;
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		padding-bottom: 2rem; /* Add some bottom padding if needed */
	}

	.text-overlay-hangover-container {
		align-items: center;
	}

	.vision-hangover h1 {
		color: #fff;
		text-align: center;
		font-family: "Inter";
		font-size: 3rem;
		font-style: normal;
		font-weight: 800;
		line-height: 135%; /* 5.4rem */
		letter-spacing: -0.08rem;
		text-transform: uppercase;
		width: 750px;
		padding-bottom: 50px;
	}

	.vision-hangover p {
		color: #fff;
		text-align: center;
		font-family: "DM Sans";
		align-items: center;
		font-size: 1rem;
		font-style: normal;
		font-weight: 400;
		line-height: 140%; /* 2.1rem */
		letter-spacing: -0.03rem;
		width: 35.6875rem;
		margin: auto;
	}

	.vision-message {
		align-items: center;
		background-color: #111;
		padding-bottom: 5%;
		padding-top: 8%;
	}

	.vision-message h1 {
		color: #fff;
		text-align: center;
		font-family: Inter;
		font-size: 2rem;
		font-style: normal;
		font-weight: 600;
		line-height: 135%; /* 2.7rem */
		letter-spacing: -0.04rem;
		width: 500px;
		margin: auto;
	}
}

@media only screen and (max-width: 599px) {
	.hero {
		background-image: url("/images/vision-hero.png");
		background-size: cover;
		background-position: center;
		height: 75vh;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	.hero-content {
		text-align: center;
		max-width: 900px;
		margin: 0 auto;
	}

	.hero h1 {
		color: #fff;
		text-align: center;
		font-family: "Inter";
		font-size: 5rem;
		font-style: normal;
		font-weight: 800;
		line-height: 110%; /* 5.5rem */
		letter-spacing: -0.1rem;
		padding-bottom: 5%;
	}

	.text-container h2 {
		color: #101010;
		font-family: "Inter";
		text-align: center;
		font-size: 3rem;
		font-style: normal;
		font-weight: 600;
		line-height: 108.425%; /* 3.25275rem */
		letter-spacing: -0.06rem;
		width: 22.3125rem;
		margin: auto;
	}

	.text-container p {
		color: #101010;
		font-family: "DM Sans";
		text-align: center;
		font-size: 1rem;
		font-style: normal;
		font-weight: 400;
		line-height: 135%; /* 1.6875rem */
		letter-spacing: 0.0125rem;
		width: 20rem;
		margin-top: 10%;
		margin-bottom: 10%;
		margin: auto;
		padding: 8% 0px;
	}

	.image-text-container-vision img {
		width: 100%;
		height: auto;
		margin-bottom: 5%;
		padding: 0px 5%;
	}

	.image-text-container-vision {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		max-width: 1600px;
		margin: auto;
		margin-top: 72vh;
		padding-bottom: 50px;
	}

	/* Fade in effekt */
	.image-text-container-vision {
		opacity: 0;
		transition: opacity 1s ease-in-out;
	}

	.image-text-container-vision.visible {
		opacity: 1;
	}
	/* Fade in effekt slut */

	.vision-hangover {
		position: relative;
		background: url(/images/vision-hangover.png);
		background-position: center;
		background-size: cover;
		width: 100%;
		height: 60vh;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		padding-bottom: 2rem; /* Add some bottom padding if needed */
	}

	.text-overlay-hangover-container {
		align-items: center;
	}

	.vision-hangover h1 {
		color: #fff;
		text-align: center;
		font-family: "Inter";
		font-size: 2rem;
		font-style: normal;
		font-weight: 800;
		line-height: 135%; /* 5.4rem */
		letter-spacing: -0.08rem;
		text-transform: uppercase;
		width: 300px;
		padding-bottom: 30px;
		margin: auto;
	}

	.vision-hangover p {
		color: #fff;
		text-align: center;
		font-family: "DM Sans";
		align-items: center;
		font-size: 1rem;
		font-style: normal;
		font-weight: 400;
		line-height: 140%; /* 2.1rem */
		letter-spacing: -0.03rem;
		width: 20.6875rem;
	}

	.vision-message h1 {
		color: #fff;
		text-align: center;
		font-family: "Inter";
		font-size: 1.5rem;
		font-style: normal;
		font-weight: 600;
		line-height: 135%; /* 2.7rem */
		letter-spacing: -0.04rem;
		width: 20rem;
		margin: auto;
		padding: 8% 0px;
	}

	.vision-message {
		align-items: center;
		background-color: #111;
		padding-bottom: 5%;
	}

	.vision-hangover-desktop {
		display: none;
	}
}
